BuildData
BuildTools.jar
BuildTools.log.txt
Bukkit
CraftBukkit
cfg/credentials.cfg
Spigot
apache-maven-3.6.0
work
spigot-1.15.2.jar
PlaceholderAPI-2.10.6.jar
.metadata
.settings
.classpath
.externalToolBuilders
.metadata
.settings
bin
build.sh
kd
*.class
externalToolBuilders
build.xml
.project
uploadToTestServer.sh
mysql-connector-java-8.0.20
mysql-connector-java-8.0.20/*
